@import io.scalac.common.play.PaginatedResponse
@import io.scalac.services.OutgoingNote

@(data: PaginatedResponse[OutgoingNote])

@innerHtml = {
  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">
        <div class="masthead clearfix">
          <div class="inner">
            <h3 class="masthead-brand">Rapid development FTW!</h3>
          </div>
        </div>
        <div class="inner cover">
          <h1 class="cover-heading">Hey, here are some notes from DB</h1>
          <dl class="dl-horizontal">
          @for(note <- data.sequence) {
            <dt>Creator</dt>
            <dd>@note.creator</dd>
            <dt>Last update</dt>
            <dd>@note.recentEdit.toString("yyyy-MM-dd hh:mm:ss")</dd>
            <dt></dt>
            <dd>@note.note</dd>
          }
          </dl>
        </div>
        <div class="mastfoot">
          <div class="inner">
            <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
}

@main(innerHtml)
